.navbar{
    background-color: #808080;
    font-size: 1.44rem;
}

.navbar .nav-link{
    color: whitesmoke;
    font-weight: 777;
}

.navbar .nav-link.active{
    color:gold;
}

#logo{
    max-width: 5rem;
}